@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS__-webfont.eot');
    src: url('../fonts/BEBAS__-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BEBAS__-webfont.woff2') format('woff2'),
    url('../fonts/BEBAS__-webfont.woff') format('woff'),
    url('../fonts/BEBAS__-webfont.ttf') format('truetype'),
    url('../fonts/BEBAS__-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {

}

.wrapper {
    background: -moz-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #cfcfcf), color-stop(60%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -o-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -ms-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: linear-gradient(to bottom, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    color: #9a9a9a;
    font-family: Arial, sans-serif;
    min-height: 100%;
}





/*-----HEADER-----*/

.container-fluid {
    background: #0f201c; /* Old browsers */
    background: -moz-linear-gradient(top, #0f201c 0%, #002931 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f201c), color-stop(100%,#002931)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0f201c 0%,#002931 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0f201c 0%,#002931 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0f201c 0%,#002931 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0f201c 0%,#002931 100%); /* W3C */
}

    .texture {
        background: url(../img/header-glow.png) top center no-repeat;
        position: relative;
        z-index: 100;
    }

    .logo {
        background: url(../img/logo.png) no-repeat;
        cursor: pointer;
        height: 76px;
        width: 276px;
    }

    header .nav-pills {
        margin: 52px 0 30px 0;
    }

    header .nav-pills a {
        color: #1eafb5;
        font-size: 1em;
        transition: 400ms;
        padding: 3px 15px;
    }

    header .nav-pills a:hover,
    header .nav-pills a:active{
        background: -moz-linear-gradient(top,  rgba(32,107,131,0.5) 0%, rgba(86,175,183,1) 75%, rgba(104,197,200,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,107,131,0.5)), color-stop(75%,rgba(86,175,183,1)), color-stop(100%,rgba(104,197,200,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* W3C */
        border-radius: 0;
        color: #cefefe;
    }

    .navbar-toggle{
        background: -moz-linear-gradient(top,  rgba(32,107,131,0.5) 0%, rgba(86,175,183,1) 75%, rgba(104,197,200,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,107,131,0.5)), color-stop(75%,rgba(86,175,183,1)), color-stop(100%,rgba(104,197,200,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* W3C */
        margin-top: 35px;
        opacity: 0.9;
    }

    .navbar-toggle:hover{
        opacity: 1;
    }

        .icon-bar{
            background-color: #ffffff;
        }

    .header-line {
        background: url(../img/line.png) no-repeat;
        background-size: cover;
        height: 1px;
        margin: 0 auto 35px;
    }

    .greatings-column h2,
    .greatings-column h3,
    .greatings-column p {
        padding: 0 10px 0 25px;
    }

    .greatings-column h2,
    .greatings-column h3 {
        color: #eef0f0;
        line-height: 1;
    }

    .greatings-column h2 {
        font: 4.285714286em 'bebasregular';
        margin: -20px 0 0 0;
        text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.75);
    }

    .greatings-column h3 {
        font: 2.857142857em 'MyriadPro-Regular';
        margin: 0;
        padding-top: 5px;
        text-transform: uppercase;
        text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.75);
    }

    .greatings-column p {
        color: #1eafb5;
        font-size: 1.071428571em;
        line-height: 1.3;
        padding-top: 12px;
    }

    /* - Carousel styles -*/

    #main-carousel {
        margin: -5px 0 0 -15px;
        padding: 0 0 30px 0;
        max-width: 579px;
    }

        /* Carousel controls styles */

        .carousel-inner .carousel-control.left,
        .carousel-inner .carousel-control.right {
            background: rgba(0, 0, 0, 0.5);
            display: block;
            width: 40px;
            height: 54px;
            position: absolute;
            top: 50%;
            margin-top: -27px;
            transition: 300ms;
        }

        .carousel-inner .left-arrow {
            background: url(../img/slider-arrow-left.png) no-repeat;
            display: block;
            margin: 12px auto 0;
            width: 21px;
            height: 29px;
        }

        .carousel-inner .right-arrow {
            background: url(../img/slider-arrow-right.png) no-repeat;
            display: block;
            margin: 12px auto 0;
            width: 21px;
            height: 29px;
        }




    /*
    #carousel {
        margin: -5px 0 0 -15px;
        padding: 0 0 30px 0;
        position: relative;
        width: 579px;
    }

        .carousel-inner {
        }

        .carousel-caption p {
            background-color: rgba(0, 0, 0, 0.5);
            color: #e0e9cc;
            font-size: 1.5em;
            text-align: left;
            position: absolute;
            bottom: -20px;
            margin: 0;
            width: 100%;
            padding: 30px 0 0 40px;
        }

        .carousel-control.left,
        .carousel-control.right {
            width: 40px;
            height: 54px;
            position: absolute;
            top: 50%;
            margin-top: -27px;
        }

        .carousel-control.left {
            background: url(../img/slider-arrow-left.png) no-repeat;
            left: 0;
        }

        .carousel-control.right {
            background: url(../img/slider-arrow-right.png) no-repeat;
            right: 0;
        }

        .carousel-indicators {
            bottom: -50px;
        }
        .carousel-indicators li {
            background: #ababab;
            border-radius: 50%;
            width: 13px;
            height: 14px;
            border: none;
            margin: 0 10px 0;
            padding: 0;
            transition: 100ms;
        }
        .carousel-indicators li:hover,
        .carousel-indicators .active {
            -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            -moz-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
}*/



/*----- CONTENT -----*/

.content {
    padding-left: 52px;
    padding-right: 140px;
}

    .fake-indicators {
        margin-top: 20px;
        margin-bottom: 15px;
    }

        .content .fake-indicators span {
            background: #ababab;
            border-radius: 50%;
            display: inline-block;
            width: 13px;
            height: 14px;
            border: none;
            margin: 0 10px 0;
            padding: 0;
            transition: 100ms;
        }
        .content .fake-indicators span:hover,
        .content .fake-indicators .active {
            -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            -moz-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            cursor: pointer;
        }

    .content-line {
        background: url(../img/content-line.png) center no-repeat;
        background-size: cover;
        height: 1px;
        margin-bottom: 20px;
    }

    .content-first {
        margin-bottom: 42px;
    }

  /*  .content-first .strict-deadlines-col,
    .content-first .high-quality-col,
    .content-first .best-pricing-col {
        padding-left: 52px;
        padding-right: 0;
    }*/

        .content-first .icons {
            float: left;
            width: 93px;
            height: 85px;
        }

        .content-first .icon-strict {
            background: url(../pic/icon-01.png) no-repeat;
        }

        .content-first .icon-high {
            background: url(../pic/icon-02.png) no-repeat;
        }

        .content-first .icon-best-pricing {
            background: url(../pic/icon-03.png) no-repeat;
        }

        .content-first h4 {
            color: #666;
            font: 1.857142857em 'MyriadPro-Regular';
        }


/* --- Recent works block ---*/

    .recent-works-block {
        margin-bottom: 30px;
    }

    /*.recent-works-block > div {
        padding-left: 52px;
    }*/


/* --- Twitter line ---*/

    .twitter-line .bird {
        min-height: 81px;
    }




/* ----- FOOTER ----- */

footer {
    background-color: #162623;
    min-height: 125px;
}




/*----- MEDIA QUERIES -----*/

@media screen and (max-width: 1020px) {
    .texture {
        background: none;
    }
}