@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS__-webfont.eot');
    src: url('../fonts/BEBAS__-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BEBAS__-webfont.woff2') format('woff2'),
    url('../fonts/BEBAS__-webfont.woff') format('woff'),
    url('../fonts/BEBAS__-webfont.ttf') format('truetype'),
    url('../fonts/BEBAS__-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 20px;
    padding-left: 20px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    padding: 0;
    width: 80%;
}

.wrapper {
    background: -moz-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #cfcfcf), color-stop(60%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -o-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: -ms-linear-gradient(top, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    background: linear-gradient(to bottom, #cfcfcf 0%, #ffffff 60%, #ffffff 100%);
    color: #9a9a9a;
    font-family: Arial, sans-serif;
    min-height: 100%;
}





/* ----- HEADER ----- */

header {
    background: #0f201c; /* Old browsers */
    background: -moz-linear-gradient(top, #0f201c 0%, #002931 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f201c), color-stop(100%,#002931)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0f201c 0%,#002931 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0f201c 0%,#002931 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0f201c 0%,#002931 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0f201c 0%,#002931 100%); /* W3C */
}

    header .container {
        background: url(../img/2-header-texture.png) top center no-repeat;
        background-size: contain;
        position: relative;
        z-index: 100;
    }

    header .logo {
        background: url(../img/sprites.png) -450px 0 no-repeat;
        /*background: url(../img/logo.png) no-repeat;*/
        cursor: pointer;
        height: 76px;
        width: 276px;
    }

    header nav {
        padding-right: 3px !important;
    }

    header .navbar-collapse {
        padding: 0;
        border-top: 0;
        margin-top: 52px;
    }

        header .nav-pills a {
            color: #1eafb5;
            font-size: 1em;
            transition: 400ms;
            padding: 3px 15px;
        }
        header .nav-pills a:hover,
        header .nav-pills a:active,
        header .nav-pills a:focus {
            background: -moz-linear-gradient(top,  rgba(32,107,131,0.5) 0%, rgba(86,175,183,1) 75%, rgba(104,197,200,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,107,131,0.5)), color-stop(75%,rgba(86,175,183,1)), color-stop(100%,rgba(104,197,200,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* W3C */
            border-radius: 0;
            color: #cefefe;
        }

    .navbar-toggle{
        background: -moz-linear-gradient(top,  rgba(32,107,131,0.5) 0%, rgba(86,175,183,1) 75%, rgba(104,197,200,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,107,131,0.5)), color-stop(75%,rgba(86,175,183,1)), color-stop(100%,rgba(104,197,200,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(32,107,131,0.5) 0%,rgba(86,175,183,1) 75%,rgba(104,197,200,1) 100%); /* W3C */
        margin-top: 35px;
        opacity: 0.9;
    }

    .navbar-toggle:hover{
        opacity: 1;
    }

        .icon-bar{
            background-color: #ffffff;
        }

    .header-line {
        background: url(../img/line.png) center no-repeat;
        background-size: contain;
        height: 1px;
        margin-top: 32px;
    }

    .header-glow {
        background: url(../img/2-header-glow.png) top center no-repeat;
        background-size: contain;
        padding-top: 35px;
    }

    .greatings-column {
        padding-left: 2.0833333%;
        padding-right: 2.0833333%;
    }

        .greatings-column h2,
        .greatings-column h3 {
            color: #eef0f0;
            line-height: 1;
        }

        .greatings-column h2 {
            font: 4.285714286em 'bebasregular';
            margin: -20px 0 0 0;
            text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.75);
        }

        .greatings-column h3 {
            font: 2.857142857em 'MyriadPro-Regular';
            margin: 0;
            padding-top: 5px;
            text-transform: uppercase;
            text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.75);
        }

        .greatings-column p {
            color: #1eafb5;
            font-size: 1.071428571em;
            line-height: 1.2;
            padding-top: 11px;
            padding-bottom: 12px;
        }

    /* --- Carousel styles --- */

    #main-carousel {
        margin: -5px 0 0 4.375%; /* 40px*/
        padding: 0 0 30px 0;
        width: 60.3125%; /* 579px*/
    }

        #main-carousel .carousel-top-shadow {
            background: url(../img/slider-shadow-top.png) center no-repeat;
            background-size: contain;
            position: absolute;
            top: -28px;
            height: 29px;
            width: 100%; /*579px*/
        }

        #main-carousel .carousel-bottom-shadow {
            background: url(../img/slider-shadow-bottom.png) center no-repeat;
            background-size: contain;
            position: absolute;
            left: 50%;
            margin-left: -203px;
            width: 406px;
            height: 26px;
        }

        .carousel-indicators {
            position: absolute;
            visibility: hidden;
        }

            .carousel-inner .carousel-caption {
                background: rgba(0, 0, 0, 0.5);
                color: #e0e9cc;
                font-size: 1.5em;
                left: 0;
                bottom: 0;
                height: 27.027027%;
                vertical-align: middle;
                padding-left: 7.0689655%; /*padding: 28px 41px;*/
                text-align: left;
                width: 100%;
            }

        /* --- Carousel controls styles --- */

        .carousel-inner .carousel-control.left,
        .carousel-inner .carousel-control.right {
            background: rgba(0, 0, 0, 0.5);
            display: block;
            width: 40px;
            height: 54px;
            position: absolute;
            top: 50%;
            margin-top: -27px;
            transition: 300ms;
        }

        .carousel-inner .left-arrow {
            background: url(../img/sprites.png) 0 -100px no-repeat;
            /*background: url(../img/slider-arrow-left.png) no-repeat;*/
            display: block;
            margin: 12px auto 0;
            width: 21px;
            height: 29px;
        }

        .carousel-inner .right-arrow {
            background: url(../img/sprites.png) -50px -100px no-repeat;
            /*background: url(../img/slider-arrow-right.png) no-repeat;*/
            display: block;
            margin: 12px auto 0;
            width: 21px;
            height: 29px;
        }

    .header-shadow {
        background: url(../img/sprites.png) -100px -100px no-repeat;
        /*background: url(../img/header-shadow.png) center no-repeat;*/
        background-size: contain;
        height: 53px;
        width: 508px;
        position: absolute;
        left: 50%;
        margin-left: -254px;
    }





/* ----- MAIN ----- */

    #fake-indicators {
        margin-top: 18px;
        margin-bottom: 15px;
        max-width: 579px;
        position: relative;
        left: 4.375%; /*40px*/
        z-index: 100;
    }

         #fake-indicators span {
            background: #ababab;
            border-radius: 50%;
            display: inline-block;
            width: 13px;
            height: 14px;
            border: none;
            margin: 0 8px 0;
            padding: 0;
            transition: 100ms;
        }
        #fake-indicators span:hover,
        #fake-indicators .active {
            -webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
               -moz-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
                    box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.55);
            cursor: pointer;
        }

    .content-line {
        background: url(../img/content-line.png) center no-repeat;
        background-size: contain;
        height: 1px;
        margin-bottom: 20px;
    }

    .content-first {
        margin-bottom: 32px;
    }

    /* --- Button styles --- */

    .content-first .btn,
    .recent-works-block .btn {
        border-radius: 15px;
        font-size: 0.857142857em;
        line-height: 1;
        text-indent: 2px;
        padding: 10px 21px;
        margin-top: 15px;
    }

    .main .btn-default {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
        border-color: #cdcdcd;
        color: #666;
        margin-bottom: 10px;
        transition: 200ms;
    }

    .main .btn-default:hover,
    .main .btn-default:focus,
    .main .btn-default:active {
        background: #e4e4e4;
        outline: none;
    }


/* --- Content-first block --- */

        .content-first .high-quality-col {
            padding-left: 15px;
        }

        .content-first .best-pricing-col {
            padding-left: 10px;
        }

        .content-first .icons {
            float: left;
            width: 93px;
            height: 85px;
        }

        .content-first .icon-strict {
            background: url(../img/sprites.png) -100px 0 no-repeat;
            /*background: url(../pic/icon-01.png) no-repeat;*/
        }

        .content-first .icon-high {
            background: url(../img/sprites.png) -200px 0 no-repeat;
            /*background: url(../pic/icon-02.png) no-repeat;*/
        }

        .content-first .icon-best-pricing {
            background: url(../img/sprites.png) -300px 0 no-repeat;
            /*background: url(../pic/icon-03.png) no-repeat;*/
        }

        .content-first h4 {
            color: #666;
            font: 1.857142857em 'MyriadPro-Regular';
            margin: 0;
            padding: 22px 0 0 100px;
        }

        .content-first p {
            line-height: 2;
        }


/* --- Recent works block --- */

    .recent-works-block {
        margin-bottom: 18px;
        padding-top: 8px;
    }

        .recent-works-block img {
            border: 3px solid #cdcdcd;
        }

        .recent-works-block h4 {
            color: #666;
            font: 1.857142857em 'MyriadPro-Regular';
            margin: 15px 0 5px 0;
        }

        .recent-works-block p {
            line-height: 2;
        }

        .recent-work-col-second {
            padding-left: 15px;
        }

        .recent-work-col-third {
            padding-left: 10px;
        }


/* --- Twitter line --- */

.twit-line {
    margin-bottom: 45px;
}

    .twit-line .twit-bird {
        background: url(../img/sprites.png) 10px 0 no-repeat; /*bg-position-x: 10px */
        /*background: url(../pic/bird.png) 10px 0 no-repeat; bg-position-x: 10px */
        float: left;
        min-height: 81px;
    }

    .twit-line .twit-text {
        font-size: 1.285714286em;
        line-height: 1.3;
        padding: 15px 28px;
    }

        .twit-line .twit-text a {
            color: inherit;
        }

        .twit-line .twit-text a:hover,
        .twit-line .twit-text a:focus {
            color: #666;
            text-decoration: underline;
        }

    .twit-line .twit-button {
        padding-left: 57px;
    }

        .twit-line .btn {
            border-radius: 1px;
            font-size: 1.285714286em;
            line-height: 1;
            text-indent: 2px;
            padding: 12px 26px;
            margin-top: 13px;
        }





/* ----- FOOTER ----- */

footer {
    background-color: #162623;
}

    footer .row {
        padding: 38px 0 65px 0;
    }

        footer .list-inline {
            padding-left: 10px;
            margin-bottom: 30px;
        }

            footer .list-inline li {
                padding: 0 14px;
            }

                footer a {
                    color: #1eafb5;
                }

                footer a:hover {
                    color: #cefefe;
                    text-decoration: none;
                }

        footer small {
            color: #1eafb5;
            font-size: 1em;
            padding: 0 10px 0 77px !important;
        }





/*----- MEDIA QUERIES -----*/

@media screen and (max-width: 539px) {
    .carousel-inner .carousel-caption {
        font-size: 1.3em;
        padding: 12px;
    }
}

@media screen and (max-width: 653px) {
    .twit-line .twit-button {
        padding-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    header .container {
        background: none;
    }
    .container nav ul {
        margin-top: 10px;
    }
    .greatings-column {
        padding-left: 20px;
    }
    #main-carousel {
        width: auto;
        margin-left: 20px;
    }
    .fake-indicators {
        left: 20px;
    }
    footer ul {
        text-align: center;
    }
    footer small {
        padding-left: 10px !important;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: auto;
    }
}